<!DOCTYPE html>
<html>
  <head>
    <title>Michał Jasiak · Virtual business card</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="content/styles.css" />
    <link rel="stylesheet" href="content/bootstrap/css/bootstrap.min.css" />
    <script
      type="text/javascript"
      src="content/fullpage/js/fullpage.min.js"
    ></script>
    <script type="text/javascript" src="content/libs/vue.min.js"></script>
  </head>
  <body>
    <div id="fullpage">
      <div class="section section--centered">
        <h1 class="welcome__text">Hello world!</h1>
      </div>
      <div class="section section__introduction" id="introduction__app">
        <div class="introduction">
          <h2>{{content.section_title}}</h2>
          <p>{{content.section_text}}</p>
        </div>
        <div class="introduction__languages">
          <div class="languages__control">
            <div class="languages__buttons">
              <span class="languages__button" v-on:click="changeLanguage('PL')" v-bind:class="{'languages__button--active': (language==='PL')}">PL</span>
              <span class="languages__button" v-on:click="changeLanguage('EN')" v-bind:class="{'languages__button--active': (language==='EN')}">EN</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      new fullpage("#fullpage", {
        autoScrolling: true,
      });
    </script>
    <script
      type="text/javascript"
      src="content/scripts/introduction.js"
    ></script>
  </body>
</html>
