.section {
  padding: 20vh 0;
  text-align: center;
}

.section--centered {
  padding: 40vh 0;
}

.section__introduction {
  position: relative;
}

.welcome__text {
  font-size: 5vh;
}

.introduction__languages {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.languages__button {
  cursor: pointer;
}

.languages__button:hover {
  color: #777;
}

.languages__button--active {
  cursor: default;
  color: #ccc;
}

.languages__button--active:hover {
  color: #aaa;
}
